@import "tailwindcss";


@theme inline {
  --font-sans: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --color-electric-violet-50: #f3f1ff;
  --color-electric-violet-100: #ebe5ff;
  --color-electric-violet-200: #d9ceff;
  --color-electric-violet-300: #bda6ff;
  --color-electric-violet-400: #9f74ff;
  --color-electric-violet-500: #843dff;
  --color-electric-violet-600: #7816ff;
  --color-electric-violet-700: #6b04fd;
  --color-electric-violet-800: #5903d4;
  --color-electric-violet-900: #4b05ad;
  --color-electric-violet-950: #2c0076;
}
