@tailwind base;
@tailwind components;
@tailwind utilities;

/* 버튼 */
.btn-default {
  @apply bg-green-500
  flex  

  justify-center
  text-white
  rounded-[100px]
  px-4
  w-full
  items-center
  font-normal
  font-sans 
  hover:bg-green-600
  active:bg-green-700;
}
.btn-outline {
  @apply bg-none
    flex
  justify-center
  text-gray-900
  w-full
  rounded-[100px]
  px-4
  items-center
  font-normal
    border-solid
    border
    border-gray-500
    hover:bg-gray-200
      font-sans 
  active:bg-gray-300;
}
.btn-ghost {
  @apply bg-none
   flex
  justify-center
  w-full
   text-gray-600
    rounded-[100px]
      items-center
        font-sans 
  font-normal
      px-4
 
    hover:bg-gray-200 text-gray-800
    active:bg-green-200 
    active:text-green-600
    active:font-semibold;
}

.btn-kakao {
  @apply bg-kakao-container
  flex  

  justify-center
  text-black
  rounded-[100px]
  px-4
  w-full
  items-center
  font-normal
  font-sans;
}

/* 인풋 */

.input-daflult {
  @apply bg-none
  h-10
  w-full
  border
  outline-none
  border-gray-500
  rounded-[100px]
  px-4
  text-gray-900
  text-[14px]
    font-normal
  font-sans
  focus:border-green-400;
}

.input-disabled {
  @apply bg-gray-200
  rounded-[100px]
  px-4
  font-sans
  text-[14px]
    font-normal
  h-10
  w-full;
}
.input-withtime {
  @apply bg-none
  h-10
  border
  outline-none
  pl-4
  pr-12
  border-gray-500
  rounded-[100px]
  text-gray-900
  text-[14px]
  font-sans
  w-full
    font-normal
  focus:border-green-400;
}

/* 라벨 */
.label {
  @apply text-[12px]
  text-gray-500
    font-normal;
}

/* 에러 메세지 */
.errorMsg {
  @apply text-system-red
  text-[12px]
    font-normal;
}

/* 타이머 */
.timer {
  @apply absolute
    right-3
    top-1/2
    -translate-y-1/2 text-gray-500 text-[12px];
}
